apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    jsonData:
      httpMethod: POST
      manageAlerts: true
      allowAsRecordingRulesTarget: true
      prometheusType: Prometheus
      prometheusVersion: 3.8.1
      cacheLevel: 'High'
      disableRecordingRules: false
      timeInterval: 15s # Prometheus scrape interval
      incrementalQueryOverlapWindow: 10m